In [4]:
%matplotlib inline

import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
import os

from IPython.display import display

In [5]:
filename = 'book_wote_climate.xls'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'Não encontrei o arquivo {filename} aqui no diretório {os.getcwd()}, será que você não baixou o arquivo?')

Encontrei o arquivo book_wote_climate.xls, tudo certo para prosseguir com a prova!

In [6]:

co2_con = pd.read_excel(filename, sheet_name = 'CO2 Concentration')
co2_con.head(5)

   Year  Concentration
0  1000         277.00
1  1001         277.01
2  1002         277.02
3  1003         277.03
4  1004         277.04

In [8]:
Temperature = pd.read_excel(filename, sheet_name = 'Temperature')
Temperature.head(5)

   Year  Temperature
0  1880        13.72
1  1881        13.79
2  1882        13.74
3  1883        13.73
4  1884        13.68